html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --titles-text-color: rgba(33, 33, 33, 1);
  --white-color: rgba(255, 255, 255, 1);
  --ourteam-bgc-color: rgba(245, 244, 250, 1);
  --footer-color: rgba(47, 48, 58, 1);
  --active-color: rgba(33, 150, 243, 1);
  --grid-item: 3;
  --primary-margin: 30px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.lists {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--active-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-bottom: 94px;
  /* padding-top: 94px; */
}

/* шапка */
header {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo {
  display: flex;
  margin-right: 93px;
  text-decoration: none;
  color: var(--titles-text-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.contacts-nav {
  display: flex;
}
.link-nav {
  color: var(--titles-text-color);
  text-decoration: none;

  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-nav:hover,
.link-nav:focus {
  color: var(--active-color);
}

.lists-contacts:not(:first-child) {
  margin-left: 50px;
}

.active {
  color: var(--active-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
}

/* main content*/

/* hero */
.hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-text {
  color: var(--white-color);
  width: 695px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--primary-margin);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  color: var(--white-color);
  background-color: var(--active-color);
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.06em;
}

/* особливості */
.section-features {
  padding-top: 94px;
}
.features-ul {
  display: flex;
}
.features-lists {
  display: flex;
  flex-wrap: wrap;
  --grid-item: 4;
  flex-basis: calc(
    (100%- var(--primary-margin) * var(--grid-item)) / var(--grid-item)
  );
}
.features-lists:not(:first-child) {
  margin-left: var(--primary-margin);
}

.features-titles {
  color: var(--titles-text-color);
  margin-bottom: 10px;
  display: flex;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  display: flex;
}

/* чим займаємось */

.title {
  color: var(--titles-text-color);
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-works {
  padding-bottom: 94px;
}
.our-works {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-margin));
  margin-top: calc(-1 * var(--primary-margin));
}
.works-items {
  display: block;
  margin-left: var(--primary-margin);
  margin-top: var(--primary-margin);
  flex-basis: calc(
    (100% - var(--primary-margin) * var(--grid-item)) / var(--grid-item)
  );
}

/* наша команда */
.team {
  background-color: var(--ourteam-bgc-color);
  padding-top: 94px;
}
.team-lists {
  display: flex;
  background-color: var(--white-color);
  flex-wrap: wrap;
  flex-basis: calc(
    (100% - var(--primary-margin) * var(--grid-item)) / var(--grid-item)
  );
}
.team-lists:not(:first-child) {
  margin-left: var(--primary-margin);
}
.team-items {
  display: flex;
  flex-wrap: wrap;
  --grid-item: 4;
  margin-right: calc(-1 * var(--primary-margin));
}
.titles-team {
  color: var(--titles-text-color);
  margin-top: var(--primary-margin);
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-person .text {
  font-size: 16px;
  line-height: 1.19;
  padding-bottom: var(--primary-margin);
  text-align: center;
}

/* footer */

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--white-color);
}
.adress {
  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}
.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-lists > li:not(:last-child) {
  margin-bottom: 10px;
}

/* portfolio */

/* кнопки фільтрації */
.filters-lists {
  display: flex;
  justify-content: center;
}
.filter-btn:not(:first-child) {
  margin-left: 9px;
}
.button-portfolio {
  padding: 6px 22px;

  color: var(--titles-text-color);
  background-color: var(--ourteam-bgc-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: inline-block;
}
.button-portfolio:hover,
.button-portfolio:focus,
.current {
  color: var(--white-color);
  background-color: var(--active-color);
  cursor: pointer;
}

.section-btn-potfolio {
  margin-top: 94px;
  margin-bottom: 50px;
}

/* зображення */

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--primary-margin));
}
.portfolio-img > li {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 32px * var(--grid-item)) / var(--grid-item));
}
.portfolio-img > li:not(:nth-child(3n + 1)) {
  margin-left: var(--primary-margin);
}
.cards-bottom {
  border: 1px solid rgba(238, 238, 238, 1);
}
.projects-titles {
  color: var(--titles-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}
.projects-type {
  font-size: 16px;
  line-height: 1.88;
}
.cards-portfolio {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: var(--primary-margin);
}
